<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fleetsy</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Welcome to Fleetsy</h1>
            <p class="lead">Fleetsy can help you manage your organization's fleet of vehicles.</p>
        </div>
        <div>
            <p>Select an organization to manage:</p>
            <ul>
                <li th:each="org : ${orgs}"><span th:text="${org.name}">Organization Name</span></li>
            </ul>
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Demonhacks 2020</span>
        </div>
    </footer>
</body>
</html>
