<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head"></div>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Welcome to Fleetsy</h1>
            <p class="lead">Fleetsy can help you manage your organization's fleet of vehicles.</p>
        </div>
        <div>
            <p>Select an organization to manage:</p>
            <ul>
                <li th:each="org : ${orgs}"><a th:href="@{/fleet(orgId=${org.id})}" href="#"><span th:text="${org.name}">Organization Name</span></a></li>
            </ul>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
