<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head"></div>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Vehicle Service History</h1>
            <p class="lead">The complete service history for vehicle VIN <b><span th:text="${vehicle.vin}"></span></b> is listed below.</p>
			<form>
			  <div class="form-group row">
			    <label for="staticVin" class="col-sm-2 col-form-label">VIN</label>
			    <div class="col-sm-4">
			      <input type="text" readonly class="form-control-plaintext" id="staticVin" th:value="${vehicle.vin}">
			    </div>
                <label for="staticMileage" class="col-sm-2 col-form-label">Current Mileage</label>
                <div class="col-sm-4">
                  <input type="text" readonly class="form-control-plaintext" id="staticMileage" th:value="${#numbers.formatInteger(vehicle.mileage, 1, 'COMMA')}">
                </div>
			  </div>
			  <div class="form-group row">
			    <label for="staticColor" class="col-sm-2 col-form-label">Color</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control-plaintext" id="staticColor" th:value="${vehicle.color}">
			    </div>
                <label for="staticMakeModel" class="col-sm-2 col-form-label">Make/Model</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control-plaintext" id="staticMakeModel" th:value="${vehicle.make+' '+vehicle.model}">
                </div>
			  </div>
			</form>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/fleet}" href="#">Vehicles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/service-providers}" href="#">Service Providers</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div>
        <div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Service Date</th>
                            <th scope="col" class="text-center">Mileage at Service</th>
                            <th scope="col">Service Performed</th>
                            <th scope="col">Service Provider</th>
                            <th scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sh : ${serviceHistories}">
                            <td th:text="${#dates.format(sh.convertedServiceDate,'yyyy-MMMM-dd')}">Vehicle Service Date</td>
                            <td th:text="${#numbers.formatInteger(sh.mileage, 1, 'COMMA')}" class="text-center">Vehicle Mileage</td>
                            <td th:text="${sh.serviceDesc}">Service Description</td>
                            <td th:text="TBD">Service Provider</td>
                            <td th:text="${#numbers.formatCurrency(sh.cost)}" class="text-right">Service Cost</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
